@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.card {
    width: 19.575rem;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
}

.card>img {
    max-width: 90%;
    margin: 15px auto auto auto;
    display: block;
    border-radius: 15px;
}

h3 {
    padding: 8px 25px 0px 25px;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%)
}

p {
    padding: 0px 25px 0px 25px;
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
}